<mat-toolbar
  color="primary"
  *ngIf="!routerService.isLoginSignUpPage()"
  class="d-flex justify-content-sb"
>
  <div>
    <!-- <span>My App</span> -->
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/movie">Movie</button>
    <button mat-button routerLink="/show">Show</button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menu">Profile</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/profile">Profile</a>
      <button mat-menu-item (click)="handleSignOff()">Log out</button>
    </mat-menu>
  </div>
</mat-toolbar>
