<!-- generic-table.component.html -->

<table
  mat-table
  [dataSource]="dataSource"
  class="full-width"
  *ngIf="config.length"
>
  <!-- Define your table columns here -->
  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <th
      mat-header-cell
      *matHeaderCellDef
      [style.width]="headerWidthConfig[column]"
    >
      {{ headerConfig[column] }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
  </ng-container>

  <ng-container matColumnDef="book" *ngIf="bookButton">
    <th mat-header-cell *matHeaderCellDef style="width: 10%">Book Status</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-flat-button
        color="primary"
        [disabled]="bookNowDisabled || element.bookNowDisabled"
        (click)="handleBookShow(element)"
      >
        {{ element.status }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="admin" *ngIf="adminControl">
    <th mat-header-cell *matHeaderCellDef style="width: 10%">Admin Control</th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex align-items-c">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="'/show/edit/' + element.id"
          [disabled]="adminControlDisabled"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="handleDeleteShow(element)"
          [disabled]="adminControlDisabled"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnDefination"></tr>
  <tr mat-row *matRowDef="let row; columns: columnDefination"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td
      class="mat-cell"
      [attr.colspan]="columnDefination.length"
      class="text-align-c"
    >
      {{ noRecordFoundLabel }}
    </td>
  </tr>
</table>

<!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator> -->
