<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.theatremanagement.show.mapper.ShowMapper">
    <!-- Define your SQL queries -->
    <resultMap id="getAllShowsResultMap" type="org.theatremanagement.show.model.Show">
        <result column="id" property="id" />
        <result column="booked_seats" property="bookedSeats" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="movie_id" property="movieId" />
        <result column="movie_name" property="movieName" />
    </resultMap>

    <select id="getAllShows" parameterType="java.util.Map" resultMap="getAllShowsResultMap">
        select s.id, s.start_time , s.end_time , s.total_seats , s.booked_seats, s.movie_id , s.movie_name,
        case when bs.id is not null then true else false end as userBooked
        from shows s
        left join book_shows bs on s.id = bs.show_id and bs.user_id = #{userId}
        <where>
            <if test="params != null and params.size() > 0">
                <foreach collection="params" index="key" item="value">
                    <if test="key == 'booked' and value == 'true'">
                        and bs.id is not null
                    </if>
                    <if test="key == 'booked' and value == 'false'">
                        and bs.id is null
                    </if>
                    <if test="key == 'movie-id'">
                        and s.movie_id = CAST(#{value} AS BIGINT)
                    </if>
                    <if test="key == 'start-time'">
                        and s.start_time = CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'start-time-gte'">
                        and s.start_time &gt;= CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'start-time-lte'">
                        and s.start_time &lt;= CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'start-time-gt'">
                        and s.start_time &gt; CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'start-time-lt'">
                        and s.start_time &lt; CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'end-time-gte'">
                        and s.end_time &gt;= CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'end-time-lte'">
                        and s.end_time &lt;= CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'end-time-gt'">
                        and s.end_time &gt; CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'end-time-lt'">
                        and s.end_time &lt; CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'show-status' and value == 'in-progress'">
                        and s.start_time &lt;= current_timestamp at time zone 'utc' and s.end_time &gt;= current_timestamp at time zone 'utc'
                    </if>
                    <if test="key == 'show-status' and value == 'not-started'">
                        and s.start_time &gt; current_timestamp at time zone 'utc'
                    </if>
                    <if test="key == 'show-status' and value == 'completed'">
                        and s.end_time &lt; current_timestamp at time zone 'utc'
                    </if>
                </foreach>
            </if>
        </where>
    </select>
</mapper>
