<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.theatremanagement.show.mapper.ShowMapper">
    <!-- Define your SQL queries -->
    <resultMap id="getAllShowsResultMap" type="org.theatremanagement.show.model.Show">
        <result column="id" property="id" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="movie_id" property="movieId" />
        <result column="movie_name" property="movieName" />
        <result column="status" property="status" />
    </resultMap>

    <select id="getAllShows" parameterType="java.util.Map" resultMap="getAllShowsResultMap">
        select s.id, s.start_time , s.end_time , s.movie_id , m."name" as movie_name,
        case
            when (s.end_time &lt; current_timestamp) then 'Ended'
            when (bs.id is not null) then 'Booked'
            when (s.end_time &gt; current_timestamp) then 'Available'
            else 'Status Unknown'
        end as status
        from show s
        inner join movie m on m.id = s.movie_id
        left join book_show bs on s.id = bs.show_id and bs.user_id = #{userId}
        <where>
            <if test="params != null and params.size() > 0">
                <foreach collection="params" index="key" item="value">
                    <if test="key == 'booked' and value == 'true'">
                        and bs.id is not null
                    </if>
                    <if test="key == 'booked' and value == 'false'">
                        and bs.id is null
                    </if>
                    <if test="key == 'movie-id'">
                        and s.movie_id = CAST(#{value} AS BIGINT)
                    </if>
                    <if test="key == 'start-time'">
                        and s.start_time = CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'start-time-gte'">
                        and s.start_time &gt;= CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'start-time-lte'">
                        and s.start_time &lt;= CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'start-time-gt'">
                        and s.start_time &gt; CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'start-time-lt'">
                        and s.start_time &lt; CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'end-time-gte'">
                        and s.end_time &gt;= CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'end-time-lte'">
                        and s.end_time &lt;= CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'end-time-gt'">
                        and s.end_time &gt; CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'end-time-lt'">
                        and s.end_time &lt; CAST('${value}' AS TIMESTAMP)
                    </if>
                    <if test="key == 'show-status' and value == 'in-progress'">
                        and s.start_time &lt;= current_timestamp and s.end_time &gt;= current_timestamp
                    </if>
                    <if test="key == 'show-status' and value == 'not-started'">
                        and s.start_time &gt; current_timestamp
                    </if>
                    <if test="key == 'show-status' and value == 'completed'">
                        and s.end_time &lt; current_timestamp
                    </if>
                </foreach>
            </if>
        </where>
        order by s.id desc
    </select>

    <select id="getShowById" parameterType="java.lang.Long" resultType="org.theatremanagement.show.model.Show">
        SELECT s.*, m."name" as movie_name  FROM SHOW s inner join MOVIE m ON m.id = s.movie_id WHERE s.ID = #{id}
    </select>

    <update id="create" parameterType="org.theatremanagement.show.model.Show">
        insert into SHOW(MOVIE_ID, start_time, end_time)
        values (#{movieId}, #{startTime}, #{endTime})
    </update>

    <update id="update" parameterType="org.theatremanagement.show.model.Show">
        update show
        set
        movie_id = #{movieId},
        start_time = #{startTime},
        end_time = #{endTime}
        where id = #{id}
    </update>

    <delete id="deleteShowById" parameterType="java.lang.Long">
        DELETE FROM SHOW WHERE ID = #{id}
    </delete>
</mapper>
