<form (ngSubmit)="handleSubmit()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput required name="name" [(ngModel)]="movie.name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Duration in minutes</mat-label>
    <input
      matInput
      type="number"
      name="duration"
      [(ngModel)]="movie.duration"
      required
    />
  </mat-form-field>

  <mat-form-field
    class="example-chip-list"
    appearance="fill"
    class="full-width"
  >
    <mat-label>Actors</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let actor of movie.actors"
        (removed)="removeActor(actor)"
      >
        {{ actor }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Actors"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addActor($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Director</mat-label>
    <input matInput name="director" [(ngModel)]="movie.director" required />
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">
    {{ buttonLabel }}
  </button>
</form>
