<div class="p-1">
  <h2>Upcoming Booked Shows</h2>
  <app-generic-table
    [config]="showTableConfig"
    [dataSource]="bookedShow"
    noRecordFoundLabel="You haven't booked any show"
  ></app-generic-table>
  <br />

  <h2>Started Booked Shows</h2>
  <app-generic-table
    [config]="showTableConfig"
    [dataSource]="bookedStartedShow"
    noRecordFoundLabel="There is no show started"
  ></app-generic-table>
  <br />
  <h2>Watched Shows</h2>
  <app-generic-table
    [config]="showTableConfig"
    [dataSource]="watchedShow"
    noRecordFoundLabel="You haven't watched any show"
  ></app-generic-table>
</div>
