<div class="register-container">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>SignUp</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="handleCreateUser()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="email"
            name="email"
            [(ngModel)]="email"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Confirm Password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
          />
        </mat-form-field>
        <!-- <mat-card-actions align="end"> -->
        <div class="d-flex-justify-end gap-1">
          <a mat-button routerLink="/login">Login</a>
          <button mat-raised-button color="primary">
            Create
            <!-- <mat-spinner color="accent" diameter="24"></mat-spinner> -->
          </button>
          <!-- </mat-card-actions> -->
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
