<form (ngSubmit)="handleSubmit()">
  <div class="form-group">
    <label for="name">Start Time:</label>
    <input
      type="datetime-local"
      class="form-control"
      id="name"
      placeholder="Enter movie name"
      name="startTime"
      [(ngModel)]="show.startTime"
    />
  </div>
  <div class="form-group">
    <label for="duration">Movie:</label>
    <input
      type="text"
      class="form-control"
      id="duration"
      placeholder="Enter movie name"
      name="movie"
      [(ngModel)]="show.movieName"
      (input)="handleMovieInputChangeMethod()"
      [ngClass]="{
        'b-bl-r-0': isMovieInputDropdown,
        'b-br-r-0': isMovieInputDropdown
      }"
    />
    <div
      class="list-group"
      *ngFor="let movie of movieDropdownValues; let idx = index"
    >
      <button
        type="button"
        class="list-group-item list-group-item-action"
        (click)="selectMovie(movie)"
        [ngClass]="{
          'b-tl-r-0': isMovieInputDropdown,
          'b-tr-r-0': isMovieInputDropdown,
          'b-bl-r-0': idx != movieDropdownValues.length - 1,
          'b-br-r-0': idx != movieDropdownValues.length - 1
        }"
      >
        {{ movie?.name }}
      </button>
    </div>
  </div>
  <div class="form-group">
    <label for="actors">Total Seats:</label>
    <input
      type="number"
      class="form-control"
      id="actors"
      placeholder="Enter total seats"
      name="totalSeats"
      [(ngModel)]="show.totalSeats"
    />
  </div>

  <button type="submit" class="btn btn-sm btn-primary mt-2">
    {{ buttonLabel }}
  </button>
</form>
