<form (ngSubmit)="handleSubmit()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Movie name</mat-label>
    <input
      matInput
      name="movieName"
      type="text"
      [(ngModel)]="show.movieName"
      (click)="openSearchMovieDialog()"
      (keypress)="handleMovieNameKeyPress($event)"
    />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Start time</mat-label>
    <input
      matInput
      required
      name="startTime"
      type="datetime-local"
      [(ngModel)]="show.startTime"
      [min]="todayDate"
    />
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">
    {{ buttonLabel }}
  </button>
</form>
