<div
  class="container d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="card" style="min-width: 350px">
    <div class="card-body">
      <h5 class="card-title text-center">Login Page</h5>
      <form (ngSubmit)="handleLogin()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="email"
            placeholder="Enter email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Password"
          />
        </div>
        <!-- <button type="submit" class="btn btn-primary">Login</button> -->
        <button
          class="btn btn-sm btn-primary"
          type="submit"
          [disabled]="isDisabled"
        >
          <span *ngIf="!isDisabled">Login</span>
          <span *ngIf="isDisabled">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Loading...
          </span>
        </button>
      </form>
      <a routerLink="/signup">Create Account</a>
    </div>
  </div>
</div>
