<div class="p-1">
  <div class="d-flex align-items-c justify-content-sb">
    <h2 class="m-0-ni">Upcoming Shows</h2>

    <ng-container *ngIf="credService.adminControl()">
      <button mat-stroked-button routerLink="/show/add">Add Show</button>
    </ng-container>
  </div>
  <br />
  <app-generic-table
    [config]="showTableConfig"
    [dataSource]="shows"
    noRecordFoundLabel="There is no upcoming show"
    [adminControl]="credService.adminControl()"
    [bookButton]="true"
    (handleDeleteShowEvent)="handleDeleteShow($event)"
  ></app-generic-table>

  <br />
  <h2>In-Progress Shows</h2>

  <app-generic-table
    [config]="showTableConfig"
    [dataSource]="inProgressShows"
    noRecordFoundLabel="Show not started"
    [adminControl]="credService.adminControl()"
    [bookButton]="true"
    (handleDeleteShowEvent)="handleDeleteShow($event)"
  ></app-generic-table>
  <br />
  <h2>Past Shows</h2>

  <app-generic-table
    [config]="showTableConfig"
    [dataSource]="pastShows"
    noRecordFoundLabel="Show not started"
    [adminControl]="credService.adminControl()"
    [bookButton]="true"
    (handleDeleteShowEvent)="handleDeleteShow($event)"
    [bookNowDisabled]="true"
    [adminControlDisabled]="true"
  ></app-generic-table>
</div>
