/* You can add global styles to this file, and also import other style files */

/* html,
body {
  height: 100%;
} */
body {
  margin: 0;
  background-color: #efefef;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.d-flex-justify-end {
  display: flex;
  align-items: center;
  justify-content: end;
}

.gap-1 {
  gap: 1rem;
}

.full-width {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-sb {
  justify-content: space-between;
}

.align-item-c {
  align-items: center;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.jc-end {
  justify-content: end;
}

.d-grid {
  display: grid;
}

.single-row {
  grid-template-columns: auto 1fr auto; /* Three columns, first and third auto size, middle takes remaining space */
  grid-template-rows: auto; /* Single row */
}

.top-left {
  grid-column: 1; /* Place in first column */
  grid-row: 1; /* Place in first row */
}

.top-right {
  grid-column: 3; /* Place in third column */
  grid-row: 1; /* Place in first row */
}
