<div class="container">
  <h2 class="my-4">
    Movie Table
    <ng-container *ngIf="adminControl()">
      <a routerLink="./add" class="btn btn-sm btn-secondary">Add Movie</a>
    </ng-container>
  </h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <!-- <th>ID</th> -->
          <th>Name</th>
          <th>Duration (minutes)</th>
          <th>Actors</th>
          <th>Director</th>
          <ng-container *ngIf="adminControl()">
            <th>Operation</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <!-- <td>{{ movie.id }}</td> -->
          <td>{{ movie.name }}</td>
          <td>{{ movie.duration }}</td>
          <td>
            <ul class="list-unstyled">
              <li *ngFor="let actor of movie.actors">{{ actor }}</li>
            </ul>
          </td>
          <td>{{ movie.director }}</td>
          <ng-container *ngIf="adminControl()">
            <td>
              <div class="d-flex gap-2">
                <button class="btn btn-sm btn-primary">Edit</button>
                <button class="btn btn-sm btn-danger ml-2">Delete</button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
