<div class="p-1">
  <div class="d-flex align-items-c justify-content-sb">
    <h2 class="m-0-ni">User Profile</h2>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <app-profile-field
    title="Firstname"
    [value]="userProfile && userProfile.firstName"
  ></app-profile-field>
  <br />
  <app-profile-field
    title="Lastname"
    [value]="userProfile && userProfile.lastName"
  ></app-profile-field>
  <br />
  <app-profile-field
    title="Phone number"
    [value]="userProfile && userProfile.phoneNumber"
  ></app-profile-field>
  <br />
  <app-profile-field
    title="Age"
    [value]="userProfile && userProfile.age"
  ></app-profile-field>
  <br />
  <app-profile-field
    title="Gender"
    [value]="userProfile && userProfile.gender"
  ></app-profile-field>
</div>
