<div class="p-1">
  <h2 class="d-flex align-item-c gap-1">
    User Profile
    <!-- <button (click)="toggleEdit()">
      {{ isEdit ? "Disable" : "Enable" }} Edit
    </button> -->
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>edit</mat-icon>
    </button>
  </h2>

  <app-profile-field
    title="Firstname"
    [value]="userProfile && userProfile.firstName"
  ></app-profile-field>
  <br />
  <app-profile-field
    title="Lastname"
    [value]="userProfile && userProfile.lastName"
  ></app-profile-field>
  <br />
  <app-profile-field
    title="Phone number"
    [value]="userProfile && userProfile.phoneNumber"
  ></app-profile-field>
  <br />
  <app-profile-field
    title="Age"
    [value]="userProfile && userProfile.age"
  ></app-profile-field>
  <br />
  <app-profile-field
    title="Gender"
    [value]="userProfile && userProfile.gender"
  ></app-profile-field>
</div>
